@mixin tarjeta ($fondo , $ancho) { 
    background-color: $fondo;
    width: $ancho;
    margin: 2rem;
    padding: 10px;
    div .imagen{
        background-color: mediumorchid;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 1rem;
    } }

#mixims{
    color: lightgreen;
    display: flex;
    justify-content: center;
    .tarjeta-1{
        @include tarjeta (green, 250px);
    }
    .tarjeta-2{
        @include tarjeta (red, 300px);}
    .tarjeta-3{
        @include tarjeta (pink, 200px);}
}